---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A Propos - Gaëtan Leborgne" description="A propos de Gaëtan Leborgne ">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Decouvrez mon parcours et mes compétences."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						D'une formation initiale en conception industrielle qui m'a inculqué la rigueur et la polyvalence, j'ai ensuite orienté ma carrière vers le domaine de l'informatique. En premier lieu via une formation de dépanneur informatique, une formation pour devenir développeur web.
					</p>
					<br>
					<p>
						Ces différentes expériences m'ont permis d'acquérir les compétences qui me caractérisent le plus, notamment ma capacité à m'adapter rapidement à de nouveaux environnements, à apprendre de nouvelles choses et à maîtriser de nouvelles technologies.
					</p>
					<br>
					<p>
						De nature ouverte, j'accorde une grande importance à la communication, au partage et au contact humain
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>BTS Conception et Réalisation des Carrosseries, CAP Installateur et Dépanneur Informatique (RNCP), BTS Développeur Web et Web Mobile (RNCP). </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Curieux, créatif, autonome, organisé, Dynamique, Polyvalent, Travail d'équipe.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
